<!DOCTYPE html>

<head>
  <title>Django Online Barcode Reader</title>
  <meta charset="utf-8">
  {% load static %}
  {% csrf_token %}
  <script type="text/javascript" src="{% static 'jquery-3.6.0.min.js' %}"></script>
  <style>
    h1 {
      font-size: 2em;
      font-weight: bold;
      color: #777777;
      text-align: center
    }

    table {
      margin: auto;
    }
  </style>
</head>

<body>
  <h1>
    {{what}}
  </h1>
  <table>
    <tr>
      <td>
        <input type="file" id="file" accept="image/*" />
        <input id="btnUpload" type="button" value="Read Barcode" onclick="scanBarcode()">
      </td>
    </tr>
    <tr>
      <td>
        <img id="image" />
      </td>
    </tr>
  </table>

  <script type="text/javascript">

    document.getElementById("file").addEventListener("change", function () {
      let file = this.files[0];
      var fileReader = new FileReader();
      fileReader.onload = function () {
        document.getElementById('image').src = fileReader.result;
      }
      fileReader.readAsDataURL(file);
    });

    function scanBarcode() {
      let formData = new FormData(); 
      formData.append('RemoteFile', document.getElementById('file').files[0], document.getElementById('file').files[0].name);

      let xhr = new XMLHttpRequest();
      xhr.open('POST', '/upload', true);
      xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
      xhr.onreadystatechange = function () {
        if (xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
          alert(xhr.responseText);
        }
      }
      xhr.send(formData);
    }

    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = jQuery.trim(cookies[i]);
          if (cookie.substring(0, name.length + 1) == (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

  </script>

</body>

</html>